.App {
  text-align: center;
  background-color: white;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

div {
  white-space: pre-wrap;
}

.button {
  background-color: red;
  border-radius: 5px;
  margin: .08em;
  font-size: 1.0em;
}

.delete-button {
  background-color: red;
  border-radius: 5px;
  margin-left: 2em;
  font-size: 0.7em;
  height: 2em;
}

.editbutton {
  background-color: red;
  border-radius: 5px;
  margin: .08em;
  font-size: 1.0em;
  justify-content: center;
}

.text-area {
  border: 3px solid black;
  border-radius: 5px;
}

.input {
  border: 3px solid black;
  border-radius: 5px;
}

.nav-bar {
  display: flex; 
  justify-content: left;
  align-content: space-between;
  flex-direction: row;
  margin-left: 8.5%;
  margin-right: 8.5%;
  background-color: black;
}

.home {
  color: white;
  margin: 10px;
}

.my-games{
  color: white;
  margin: 10px;
}

.logout{
  color: white;
  margin: 10px;
}

.login{
  color: white;
  margin: 10px;
}

.public-element-view-content {
  width: 50%;
  display: flex;
  margin-left: 25%;
  align-content: center;
  justify-content: center;
  text-align: left
}

.user-element-view-container {
  width: 83%;
  display: flex;
  margin-left: 8.5%;
  margin-right: 15%;
  align-content: center;
  justify-content: center;
  text-align: left;
  background-color: lightgray;
}

.user-element-view-content {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.element-edit-form {
  display: flex;
  flex-direction: column;
}

.new-game-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  /* margin-top: .8%; */
  background-color: lightgray
}

.element-edit-form-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  /* margin-top: .8%; */
  background-color: lightgray
}

.element-new-form-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  /* margin-top: .8%; */
  background-color: lightgray
}

/* .edit-element-content-input {
} */


.front-page-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  /* margin-top: .8%; */
  background-color: lightgray
}

.public-game-card {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 6px;
  box-shadow: 2px 5px;
  background-color: #ffffff;
}

.public-game-card-text {
  width: 100%;
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}

.public-game-card-title {
  display: flex;
  align-items: left;
}

.public-game-card-description {
  display: flex;
  justify-content: left;
  text-align: left;
  align-self: left;
}

.public-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  background-color: lightgray
  /* margin-top: .8%; */
}

.public-element-card {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 6px;
  box-shadow: 2px 5px;
  background-color: #ffffff;
}

.public-element-card-text {
  width: 100%;
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}

.public-element-card-title {
  display: flex;
  align-items: left;
}

.public-element-card-description {
  display: flex;
  justify-content: left;
  text-align: left;
  align-self: left;
}

/* .public-element-view-container {
  background-color: lightgray;
  width: 83%
} */

.element-title {
  text-align: center;
  width: 83%;
  background-color: lightgray;
  margin-left: 8.5%;
  margin-right: 15%;
  margin-bottom: 0;
  margin-top: 0;
}

.public-element-view-content-container {
  /* width: 50%; */
  width: 83%;
  display: flex;
  margin-left: 8.5%;
  margin-right: 15%;
  align-content: center;
  justify-content: center;
  text-align: left;
  background-color: lightgray;
}

.public-element-view-content {
  margin-left: .01em;
  margin-right: .01em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.user-games-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  background-color: lightgray
  /* margin-top: .8%; */
  /* background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62); */

}

.user-game-card {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 6px;
  box-shadow: 2px 5px;
  background-color: #ffffff;
}

.user-game-card-text {
  width: 100%;
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}

.user-game-card-title {
  display: flex;
  align-items: left;
}

.user-game-card-description {
  display: flex;
  justify-content: left;
  text-align: left;
  align-self: left;
}

.user-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 8.5%;
  margin-right: 8.5%;
  background-color: lightgray
}

.user-element-card {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 6px;
  box-shadow: 2px 5px;  
  background-color: #ffffff;
}

.user-element-card-text {
  width: 100%;
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}

.user-element-card-title {
  display: flex;
  align-items: left;
}

.user-element-card-description {
  display: flex;
  justify-content: left;
  text-align: left;
  align-self: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
